.my-search {
	min-width: 300px;
	font-family: 'ProximaNova-Light';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	padding: 10px;

	&__show-new {
		padding: 5px;
		padding-top: 15px;
	}
}