@font-face {
	font-family: 'ProximaNova-Light';
	src: 	url('../../../fonts/ProximaNova-Light/ProximaNova-Light.eot');
	src: 	url('../../../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), 
			url('../../../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), 
			url('../../../fonts/ProximaNova-Light/ProximaNova-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Panton-Bold';
	src: 	url('../../../fonts/Panton-Bold/Panton-Bold.eot');
	src: 	url('../../../fonts/Panton-Bold/Panton-Bold.woff') format('woff'), 
			url('../../../fonts/Panton-Bold/Panton-Bold.ttf') format('truetype'), 
			url('../../../fonts/Panton-Bold/Panton-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: 	url('../../../fonts/Proxima Nova Semibold/Proxima Nova Semibold.eot');
	src: 	url('../../../fonts/Proxima Nova Semibold/Proxima Nova Semibold.woff') format('woff'), 
			url('../../../fonts/Proxima Nova Semibold/Proxima Nova Semibold.ttf') format('truetype'), 
			url('../../../fonts/Proxima Nova Semibold/Proxima Nova Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-LightIt';
	src: 	url('../../../fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot');
	src: 	url('../../../fonts/ProximaNova-LightIt/ProximaNova-LightIt.woff') format('woff'), 
			url('../../../fonts/ProximaNova-LightIt/ProximaNova-LightIt.ttf') format('truetype'), 
			url('../../../fonts/ProximaNova-LightIt/ProximaNova-LightIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}