@import 'normalize.css';
@import '../../fonts.pcss';
@import '../../mixins.pcss';
@import '../../layout.pcss';



@import '../../blocks/page-title.pcss';
@import '../../blocks/my-search.pcss';
@import '../../blocks/form-search.pcss';
@import '../../blocks/new.pcss';
@import '../../blocks/card.pcss';
@import '../../blocks/site-button.pcss';

@import '../../blocks/footer.pcss';

