@import 'normalize.css';
@import '../../fonts.pcss';
@import '../../mixins.pcss';
@import '../../layout.pcss';


@import '../../blocks/header.pcss';
@import '../../blocks/avatar.pcss';
@import '../../blocks/site-button.pcss';
@import '../../blocks/my-photos.pcss';
@import '../../blocks/my-album.pcss';
@import '../../blocks/footer.pcss';